body {
    padding: 0;
    margin: 0;
}

#canvas-game {
    margin-top: 12%;
}

.menu-container {
    position: absolute;
    width: 100%;
    background: red;
    min-height: 175px;
}

.brand-firstword {
    font-family: 'VT323', monospace;
    font-size: 90px;
    margin: 0px 0px -25px 10px;
}

.brand-secondword {
    font-family: 'VT323', monospace;
    font-size: 90px;
    margin: 0px 0px 0px 20px;
}

.menu_item {
    float: right;
}

.brand {
    position: absolute;
}
.menu_item ul {
  margin-top: 30px;
  padding:0;
}

.menu_item ul li {
  list-style-type: none;
  display: inline;
  margin: 0px 5px 0px 5px;
  padding: 10px;
  border: 1px solid;
  font-size: 24px;
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .menu_item {
    display: none;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (max-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {

}
